* {
    margin: 0;
    padding: 0;
}

/* 
Content:

1. body (font)
2. header (logo, menu, user, cart)
3. left
4. main content
5. right
6. footer
 */

/* 1. body */

html {
    font-size: 16px;
}

@media (max-width: 1024px) and (orientation: landscape){
    html {
        font-size: 12px;
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 480px) and (orientation: landscape){
    html {
        font-size: 6px;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 6px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    position: relative;
}

/* 2. header  */

header {
    display: grid;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid gray;
}

nav {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

nav > * {
    height: 20%;
    margin: auto;
    font-size: 1rem;
    font-weight: bold;
}

/* Logo */

nav h1 {
    font-size: 1.5rem;
    color: #50873E;
    font-weight: bold;
    height: 100%;
    padding-top: 1.2rem;
}

nav ul {
    list-style-type: none;
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: space-around;
}

li {
    width: 10%;
    padding-top: 1.2rem;
}

li>a {
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: 0.4375rem solid #5c9c47;
}

/* User image */

.userImage {
    height: 100%;
    width: auto;
}

.userImage .border {
    width: 60%;
    height: 60%;
    border: 3px solid silver;
    border-radius: 50%;
    margin:auto;
    margin-top: 1.5vh;
}

.userImage>.border>* {
    height: 80%;
    width: 80%;
    padding-top: 1.5vh;
}

/* Cart */

.cart {
    height: 50%;
    background: #50873E;
    display: flex;
    width: 8%;
    justify-content: center;
    border-radius: 0.9375rem;
}

.cart > * {
    margin: auto;
}

.order {
    position: absolute;
    height: 100vh;
    width: 25vw;
    background: whitesmoke;
    right: 0%;
    z-index: 1;
    border: 2px solid silver;
    display: none;
}

.order>* {
    margin: 5vh 0 5vh 0;
}

.order .detail {
    height: 10vh;
    width: 23vw;
    margin-left: 1vw;
    background:#C4DFBA;
    border-radius: 10px;
    color: black;
}

.order .detail>* {
    margin: 0 2vw 0 2vw;
    padding-top: 0.75vw;
    text-align: right;
}

.order .disk {
    height: 45vh;
    width: 100%;
}

.order .disk .food {
    height: 25%;
    width: 25vw;
}

.order .disk .img-border {
    float: left;
    height: 100%;
}

.order .disk .img-border img {
    height: 100%;
    width: 10vw;
    border-radius: 10px;
}

.order .disk h5 {
    height: 10%;
    width: 50%;
    margin-top: 2vh;
    margin-left: 12vw;
    text-align: right;
}

main {
    background: white;
    height: 130rem;
    grid-column: 4/9;
    margin-top: 10%;
}

.order .total {
    height: 5vh;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
}

.order .total .total-price {
    padding-left: 16vw;
}

.order .checkout {
    background:#5C9C47;
    height: 6vh;
    width: 8vw;
    margin: 5vh 0 0 8.5vw;
    border-radius: 2vh 2vh 0 0 ;
    border: none;
    color: white;
}

/* 3. left */

.left {
    grid-column: 1/4;
    background: blueviolet;
}

/* 4. main content */

footer {
    height: 20%;
    background-color: yellowgreen;
    grid-column: 1/12;
}

.banner_container {
    margin-top: 2%;
    height: 20%;
}

.quote {
    height: 15%;
    font-family: 'Grandstander', cursive, Nabila, Lobster;
    font-size: 1.5625rem;
    text-align: center;
    color: #2E4765;
}

.sign {
    text-align: right;
    color: #5C9C47;
    margin-right: 2%;
}

.banner {
    margin-top: 2%;
    height: 80%;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3% 3% 3% 3%;
}

.banner>p {
    height: auto;
    color: white;
    padding: 5% 0 0 7%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2.1875rem;

}

.mobile_app {
    display: flex;
    align-items: center;
    margin: 3% 0 0 7%;
}

.app_items {
    margin-right: 2%;
}

.app_store {
    height: 3.125rem;
}

.google_play {
    height: 4.5rem;
}

.our_meals {
    height: 10%;
}

.search_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 0 0 2%;
    width: 96%;
    height: 25%;
    background-color: white;
}

h3 {
    font-family: 'Noto Sans JP', sans-serif;
    color: #50873E;
    font-weight: bold;
}

.search_container {
    display: flex;
    align-items: center;
    width: 40%;
    height: 65%;
}

.search_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4F9FF;
    width: 80%;
    border-radius: 6vh;
    margin-right: 6%;
    height: 100%;
}

.search_bar input[type="text"] {
    margin: 0 0 0 5%;
    padding: 0;
    border: none;
    height: 100%;
    width: 80%;
    background: transparent;
}

.search_bar input[type="image"] {
    margin-right: 4%;
}

.tags {
    display: flex;
    height: 10%;
    width: 96%;
    margin-top: 2%;
}

.tags ul {
    list-style-type: none;
    height: 100%;
    border: none;
    border-radius: 50%;
}

/* 5. right */

.right {
    grid-column: 9/12;
    position: relative;
    z-index: -1;
}

.delivery {
    margin-top: 15vh;
    height: 40vh;
    width: 14vw;
    position: fixed;
    margin-left: 0.5vw;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delivery>*{
    padding: 3vh 1vw 0vh 1vw;
}

/* 6. footer */

footer {
    background-color: yellowgreen;
    height: 20vh;
    grid-column: 1/12;
}