<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/index.css">
    <title>Tabemono</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">FLASH FOOD</div>

            <ul>    
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Plan</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <div class="userImage"></div>
            </ul>  

            <div class="cart">
                <div>
                    <img src="icon/cart.png">
                </div>
                <p>(2) items</p>
            </div>
        </nav>
    </header>

    <aside class="left"></aside>

    <!-- Main content (Food menu,...) -->
    <main>
        <section id="intro">
            <div class="quote">

            </div>

            <div class="intro_background">

            </div>
        </section>

        <section id="menu">
            <div class="food">
                <div class="food_image">
                    <img src="img/#" alt="">
                </div>
                <div class="food_content">
                    <div class="food_name"></div>
                    <div class="food_loved"></div>
                    <div class="food_rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="food_review"></div>
                    <div class="food_tags"></div>
                    <div class="food_time"></div>
                </div>
            </div>
        </section>
    </main>

    <aside class="right"></aside>
    
    <!-- Developer infomations, References -->
    <footer>
    </footer>
</body>
</html>