<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/index.css">
    <title>Tabemono</title>
</head>
<body>

    <!-- Header and Navigation Bar -->
    <header>
        <nav>

            <!-- Logo -->
            <h1>FLASH FOOD</h1>

            <!-- Menu -->
            <ul>    
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Plan</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
            </ul>  

            <!-- User imange -->
            <button class="userImage">
                <div class="border">
                    <img src="icons/user.png">
                </div>
            </button>

            <!-- Cart -->
            <button class="cart">
                <div class="border">
                    <img src="icons/cart.png">
                </div>
                <p>Cart (2)</p>
            </button>
        </nav>

        <!-- Order information -->
        <div class="show">
            <div class="order">
                <div class="OrderHeading">
                    <h2>My Order</h2>
                </div>
                <div class="detail">
                    <div class="infor">
                        <p class="address">20 Millennium Road</p>
                        <p class="waiting-time">30 min</p>
                    </div>
                    <div class="edit-infor">
                        <p>EDIT</p>
                    </div>
                </div>
                <div class="disk">
                    <div class="food">
                        <div class="img-border">
                            <img class="food-img" src="images/Pakistani Chicken Platter.png">
                        </div>
                        <div class="food-infor">
                            <p class="food-name">Pakistani Chicken Platter</p>
                            <p class="price">$21.40</p>
                        </div>
            
                    </div>
                    <div class="food">
                        <div class="img-border">
                            <img class="food-img" src="icons/delivery.png">
                        </div>
                        <div class="food-infor">
                            <p class="food-name">Delivery</p>
                            <p class="price">$0.00</p>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <p class="total-detail">Total:</p>
                    <p class="total-price">$21.40</p>
                </div>
                <button class="checkout">CHECKOUT</button>
            </div>
        </div>
    </header>

    <!-- Left aside for ads -->
    <aside class="left"></aside>

    <!-- Main content (Food menu,...) -->
    <main>
        <!-- Intro (Quote and Mobile Apps) -->
        <section class="banner_container">
            <div class="quote">
                <p>"People who love to eat are always Best People"</p>
                <p class="sign">JULIA CHILD</p>
            </div>

            <div class="banner">
                <p>Find Healthy And<br>Favorite Food<br>Near You</p>
            
                <div class="mobile_app">
                    <a href="https://apps.apple.com/us/app/id1464872022?mt=8" class="app_items">
                        <img src="icons/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" class="app_store">
                    </a>

                    <a href="https://play.google.com/store/apps/details?id=com.YoStarEN.Arknights" class="app_items">
                        <img src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" class="google_play">
                    </a>
                </div>
            </div>
        </section>

        <!-- Main foods menu -->
        <section class="our_meals">
            <div class="search_title">
                <h3>OUR MEALS</h3>
                
                <div class="search_container">
                    <div class="search_bar">
                        <input type="text" placeholder=" Search by name" name="search">
                        <input type="image" src="icons/search.png" alt="Submit" height="60%">
                    </div>
                    <button class="filter">
                        <img src="icons/filter.png">
                    </button>
                </div>
            </div>
            
            <ul class="food_clasify">
                <li>
                    <a href="search.html" class="classify_active">
                        <span>Loli (170)</span>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <img src="icons/breakfast.png">
                        <span>Amiya (23)</span>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <img src="icons/lunch.png">
                        <span>Ceobe (41)</span>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <img src="icons/drink.png">
                        <span>Skadi (53)</span>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <img src="icons/dessert.png">
                        <span>Angelina (33)</span>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <img src="icons/fastfood.png">
                        <span>Ch'en (20)</span>
                    </a>
                </li>
            </ul>

            <ul class="foods">
                <li class="food_container">
                    <a href="foodpage.html">
                        <img src="images/Pakistani Chicken Platter.png" alt="Pakistani Chicken Platter">
                        <div class="food_content">
                            <div class="food_name">Pakistani Chicken Platter</div>
                            <span class="fa fa-heart food_love loved"></span>
                            <div class="food_rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="food_review">32 Reviews</div>
                            <ul class="food_tags">
                                <li class="food_tag"><span>Indian</span></li>
                                <li class="food_tag"><span>Pakistani</span></li>
                            </ul>
                            <div class="food_time">
                                <i class="fa fa-clock-o" style="font-size: 1rem"></i>
                                <span>&nbsp;20-30</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="food_container">
                    <a href="foodpage.html">
                        <img src="images/Risotto.png" alt="Risotto">
                        <div class="food_content">
                            <div class="food_name">Risotto</div>
                            <span class="fa fa-heart food_love"></span>
                            <div class="food_rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="food_review">20 Reviews</div>
                            <ul class="food_tags">
                                <li class="food_tag"><span>Italian</span></li>
                                <li class="food_tag"><span>European</span></li>
                            </ul>
                            <div class="food_time">
                                <i class="fa fa-clock-o" style="font-size: 1rem"></i>
                                <span>&nbsp;10-20</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="food_container">
                    <a href="foodpage.html">
                        <img src="images/Maslenitca.png" alt="Maslenitca">
                        <div class="food_content">
                            <div class="food_name">Maslenitca</div>
                            <span class="fa fa-heart food_love loved"></span>
                            <div class="food_rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <div class="food_review">45 Reviews</div>
                            <ul class="food_tags">
                                <li class="food_tag"><span>Russian</span></li>
                            </ul>
                            <div class="food_time">
                                <i class="fa fa-clock-o" style="font-size: 1rem"></i>
                                <span>&nbsp;25-35</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    
        <section class="popular_meals">
            <div class="popular_title">
                <h3>POPULAR MEALS</h3>
                <div class="line">&nbsp;</div>
            </div>
            <ul class="foods popular">
                <li class="food_container">
                    <a href="foodpage.html">
                        <img src="images/Pakistani Chicken Platter.png" alt="Pakistani Chicken Platter">
                        <div class="food_content">
                            <div class="food_name">Pakistani Chicken Platter</div>
                            <span class="fa fa-heart food_love loved"></span>
                            <div class="food_rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="food_review">32 Reviews</div>
                            <ul class="food_tags">
                                <li class="food_tag"><span>Indian</span></li>
                                <li class="food_tag"><span>Pakistani</span></li>
                            </ul>
                            <div class="food_time">
                                <i class="fa fa-clock-o" style="font-size: 1rem"></i>
                                <span>&nbsp;20-30</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="food_container">
                    <a href="foodpage.html">
                        <img src="images/Risotto.png" alt="Risotto">
                        <div class="food_content">
                            <div class="food_name">Risotto</div>
                            <span class="fa fa-heart food_love"></span>
                            <div class="food_rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="food_review">20 Reviews</div>
                            <ul class="food_tags">
                                <li class="food_tag"><span>Italian</span></li>
                                <li class="food_tag"><span>European</span></li>
                            </ul>
                            <div class="food_time">
                                <i class="fa fa-clock-o" style="font-size: 1rem"></i>
                                <span>&nbsp;10-20</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="food_container">
                    <a href="foodpage.html">
                        <img src="images/Maslenitca.png" alt="Maslenitca">
                        <div class="food_content">
                            <div class="food_name">Maslenitca</div>
                            <span class="fa fa-heart food_love loved"></span>
                            <div class="food_rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <div class="food_review">45 Reviews</div>
                            <ul class="food_tags">
                                <li class="food_tag"><span>Russian</span></li>
                            </ul>
                            <div class="food_time">
                                <i class="fa fa-clock-o" style="font-size: 1rem"></i>
                                <span>&nbsp;25-35</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </main>


    <!-- Right aside for shipping status -->
    <aside class="right">
        <div class="delivery">
            <p>Your Meal Has Been Shipped</p>
            <div class="border">
                <img class="ship_icon" src="icons/ship.png">
            </div>
            <p class="time"><time datetime="00:15:00+07:00">15:00</time></p>
        </div>
    </aside>
    
    <!-- Developer information, References -->
    <footer>
    </footer>
</body>
</html>