<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/index.css">
    <title>Tabemono</title>
</head>
<body>
    <!-- Header and Navigation Bar -->
    <header>
        <nav>
            <!-- Logo -->
            <h1>FLASH FOOD</h1>
            <!-- Menu -->
            <ul>    
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Plan</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                <div class="userImage">
                    <div class="border">
                        <img src="icons/user.png">
                    </div>
                </div>
            </ul>  
            <!-- User imange -->
            <div class="login-infor"></div>
            <!-- Cart -->
            <div class="cart">
                <img src="icons/cart.png">
                <p>Cart (2)</p>
            </div>
        </nav>
        <div class="order">
            <h2>My Order</h2>
            <div class="detail">
                <h5 class="address">20 Millennium Road</h5>
                <h5 class="waiting-time">30 min</h5>
            </div>
            <div class="disk">
                <div class="food">
                    <div class="img-border">
                        <img class="food-img" src="images/Pakistani Chicken Platter.png">
                    </div>
                    <h5 class="food-name">Pakistani Chicken Platter</h5>
                    <h5 class="price">$21.40</h5>
                </div>
                <div class="food">
                    <div class="img-border">
                        <img class="food-img" src="icons/delivery.png">
                    </div>
                    <h5 class="food-name">Delivery</h5>
                    <h5 class="price">$0.00</h5>
                </div>
            </div>
            <div class="total">
                <h5 class="total-detail">Total:</h5>
                <h5 class="total-price">$21.40</h5>
            </div>
            <button class="checkout">CHECKOUT</button>
        </div>
    </header>

    <!-- Left aside for ads -->
    <aside class="left"></aside>

    <!-- Main content (Food menu,...) -->
    <main>
        <!-- Intro (Quote and Mobile Apps) -->
        <section class="banner_container">
            <div class="quote">
                <p>"People who love to eat are always Best People"</p>
                <p class="sign">JULIA CHILD</p>
            </div>

            <div class="banner">
                <p>Find Healthy And<br>Favorite Food<br>Near You</p>
            
                <div class="mobile_app">
                    <a href="https://apps.apple.com/us/app/id1464872022?mt=8" class="app_items">
                        <img src="icons/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" class="app_store">
                    </a>

                    <a href="https://play.google.com/store/apps/details?id=com.YoStarEN.Arknights" class="app_items">
                        <img src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" class="google_play">
                    </a>
                </div>
            </div>
        </section>

        <!-- Main foods menu -->
        <section class="our_meals">
            <div class="search_title">
                <h3>OUR MEALS</h3>
                
                <div class="search_container">
                    <div class="search_bar">
                        <input type="text" placeholder=" Search by name" name="search">
                        <input type="image" src="icons/search.png" alt="Submit" height="60%">
                    </div>
                    <button class="filter">
                        <img src="icons/filter.png">
                    </button>
                </div>
            </div>
            
            <ul class="food_clasify">
                <li>
                    <a href="search.html" class="classify_active">
                        <span>Loli (170)</span>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <img src="icons/breakfast.png">
                        <span>Amiya (23)</span>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <img src="icons/lunch.png">
                        <span>Ceobe (41)</span>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <img src="icons/drink.png">
                        <span>Skadi (53)</span>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <img src="icons/dessert.png">
                        <span>Angelina (33)</span>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <img src="icons/fastfood.png">
                        <span>Ch'en (20)</span>
                    </a>
                </li>
            </ul>

            <div class="foods">
                <div class="food_container">
                    <div class="food_image">
                        <img src="#" alt="">
                    </div>
                    <div class="food_content">
                        <div class="food_name"></div>
                        <div class="food_loved"></div>
                        <div class="food_rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="food_review"></div>
                        <div class="food_tags"></div>
                        <div class="food_time"></div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="popular_meals"></section>
    </main>


    <!-- Right aside for shipping status -->
    <aside class="right">
        <div class="delivery">
            <h4>Your Meal Has Been Shipped</h4>
            <img class="ship_icon" src="icons/ship.png">
            <h1 class="time"><time datetime="00:15:00+07:00">15:00</time></h1>
        </div>
    
    <!-- Developer infomations, References -->
    <footer>
    </footer>
</body>
</html>