{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" %}' rel="stylesheet">
    <link href='{%static "https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap" %}' rel="stylesheet">
    <link href='{%static "https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" %}' rel="stylesheet">
    <link rel="stylesheet" href='{%static "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{%static "style/login.css" %}'>
    <title>Login</title>
</head>
<body>
    <header>
        <nav>

            <!-- Logo -->
            <h1>FLASH FOOD</h1>

            <!-- Menu -->
            <ul>    
                <li><a href="/">Home</a></li>
                <li><a href="#footer">About us</a></li>
                <li><a href="#">Plan</a></li>
                <li><a href="/login" class="active">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>  

            <!-- User imange -->
            <button class="userImage">
                <div class="border">
                    <img src='{%static "icons/user.png" %}'>
                </div>
            </button>

            <!-- Cart -->
            <button class="cart">
                <img src='{%static "icons/cart.png" %}'>
                <p>Cart (2)</p>
            </button>
        </nav>

        <!-- Order information -->
        <div class="show">
            <div class="order">
                <div class="OrderHeading">
                    <h2>My Order</h2>
                </div>
                <div class="detail">
                    <div class="infor">
                        <p class="address">20 Millennium Road</p>
                        <p class="waiting-time">30 min</p>
                    </div>
                    <div class="edit-infor">
                        <p>EDIT</p>
                    </div>
                </div>
                <div class="disk">
                    <div class="food">
                        <div class="img-border">
                            <img class="food-img" src='{%static "images/Pakistani Chicken Platter.png" %}'>
                        </div>
                        <div class="food-infor">
                            <p class="food-name">Pakistani Chicken Platter</p>
                            <p class="price">$21.40</p>
                        </div>
            
                    </div>
                    <div class="food">
                        <div class="img-border">
                            <img class="food-img" src='{%static "icons/delivery.png" %}'>
                        </div>
                        <div class="food-infor">
                            <p class="food-name">Delivery</p>
                            <p class="price">$0.00</p>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <p class="total-detail">Total:</p>
                    <p class="total-price">$21.40</p>
                </div>
                <button class="checkout">CHECKOUT</button>
            </div>
        </div>
    </header>

    <!-- Register form -->
    <section class="login">
        <img src='{%static "images/kaboos.png"%}'>
        
        <form action="login" method="post">
            {% csrf_token %}
            Username: <br>
            <input type="text" name="username" required pattern="[a-zA-Z0-9-_.@]{6,}" title="Invalid username"><br>
            Password: <br>
            <input type="password" name="password" requied pattern="[a-zA-Z0-9-_.@]{8,}" title="Invalid password"><br>
            <input type="submit" id="submit" value="SIGN IN">
        </form>
    </section>

    <footer id="footer">
    </footer>
</body>
</html>